/*warna biru utama : #008dd0  */



html, body {
  height:100%;
  font-family: "FiraSans";
  background-color: #d9dbde;
  color: black;
}

.container {
padding-right: 0px;
padding-left: 0px;
margin-right: auto;
margin-left: auto;
}

.navbar-inverse-home {
background-color: rgba(0,0,0,0);
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
margin-left: -50px;
}

.dropdown-menu > li > a {
display: block;
padding: 3px 20px;
clear: both;
font-weight: normal;
line-height: 1.428571429;
color: #333;
white-space: nowrap;
}

  

.col-xs-1, .col-sm-1, .col-md-1, 
.col-lg-1, .col-xs-2, .col-sm-2, 
.col-md-2, .col-lg-2, .col-xs-3, 
.col-sm-3, .col-md-3, .col-lg-3, 
.col-xs-4, .col-sm-4, .col-md-4, 
.col-lg-4, .col-xs-5, .col-sm-5, 
.col-md-5, .col-lg-5, .col-xs-6, 
.col-sm-6, .col-md-6, .col-lg-6, 
.col-xs-7, .col-sm-7, .col-md-7, 
.col-lg-7, .col-xs-8, .col-sm-8, 
.col-md-8, .col-lg-8, .col-xs-9, 
.col-sm-9, .col-md-9, .col-lg-9, 
.col-xs-10, .col-sm-10, .col-md-10, 
.col-lg-10, .col-xs-11, .col-sm-11, 
.col-md-11, .col-lg-11, .col-xs-12, 
.col-sm-12, .col-md-12, .col-lg-12{
  position: relative;
padding-right: 5px;
padding-left: 5px;

}


.bg-blue{
  background-color: white;
}

.btn-carousel{
  border-color: #008dd0;
  color: white;
  border-radius: 0;
  transition: all 0.5s ease 0s;
}

.btn-carousel:hover{
  border-color: white;
  color: #008dd0;
  border-radius: 0;
  background-color: white;
}

/* Webfont: FiraSans-Regular */
@font-face{
    font-family: 'FiraSans';
    src: url('../fonts/FiraSans-Regular.eot');
    src: 
         url('../fonts/FiraSans-Regular.eot') format('embedded-opentype'),
         url('../fonts/FiraSans-Regular.woff') format('woff'),
         url('../fonts/FiraSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'FiraSans';
    src: url('../fonts/FiraSans-Italic.eot');
    src: 
         url('../fonts/FiraSans-Italic.eot') format('embedded-opentype'),
         url('../fonts/FiraSans-Italic.woff') format('woff'),
         url('../fonts/FiraSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Typography : implementation */

.font-FiraSans {font-family: FiraSans;}
.font-latolatinb {font-family: FiraSans; font-weight: bold;}
.font-latolatinl {font-family: FiraSans; font-weight: lighter;}

p {
  font-family: FiraSans;
}


.home-more p {
    text-align: center;
    margin-top: 65%;
    margin-left:10%;
    margin-bottom: 65%    

  }

.home-more a {
  font-size: 200%;
  margin-left: 6.36%; /*20px;*/
  background-color: black !important;
  }

.btn-more:hover {
  color:white;
  background-color: black;
}
.btn-more-display:hover {
  color: white;
  background-color: black !important;
}

.home-more li.active:hover, .home-more a:hover {
  background-color: black !important;
}


.home{
  margin-top: -30px;  
  font-size: 18px;
  line-height: 1.33;
  border-radius: 50px;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;  
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;  
  background-image: none;
  border: 1px solid transparent; 
  color: #fff;
  background-color: #008dd0;
  border-color: #008dd0;
}

.btn-default {
  color: #000;
  background-color: #fff;
  border-color: #008dd0;
  border-radius: 0;
  border-width: medium;
  font-weight: bold;
  transition: all 0.5s ease 0s;
}

.btn-allprog{
  color: #fff;
  background-color: #008dd0;
  border-color: #008dd0;
  border-radius: 0;
  border-width: medium;
  float: right;
  padding:10;
  margin-right: 0px;
  margin-bottom: 20px;
  font-size: 13pt;    
  transition: all 0.5s ease 0s;
}

.btn-cancelDelete{
  color: #fff;
  background-color: #008dd0;
  border-color: #008dd0;
  border-radius: 0;
  border-width: medium;
  float: right;
  padding:10;
  margin-right: 0px;
  margin-bottom: 20px;
  font-size: 10pt;    
  transition: all 0.5s ease 0s;
}

.btn-cancelDelete:hover{
  color: #fff;
  background-color: #000;
  border-color: #000;
  border-radius: 0;
  border-width: medium;
  float: right;
  margin-right: 0px;
  margin-bottom: 20px;
}

.btn-proceedDelete{
  color: #fff;
  background-color: #BD362F;
  border-color: #BD362F;
  border-radius: 0;
  border-width: medium;
  float: right;
  padding:10;
  margin-right: 10px;  
  font-size: 10pt;    
  transition: all 0.5s ease 0s;
  
}

.btn-proceedDelete:hover{
  color: #fff;
  background-color: #000;
  border-color: #000;
  border-radius: 0;
  border-width: medium;
  float: right;
   
}
.nextarrow{
  width: 15px;
}

.nextarrow2{
  width: 20px;
}

.btn-allprog:hover{
  color: #fff;
  background-color: #000;
  border-color: #000;
  border-radius: 0;
  border-width: medium;
  float: right;
  margin-right: 0px;
  margin-bottom: 20px;
}


.line{
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 6px solid #008dd0;
  padding: 0;
  margin-left: -9px;
  margin-right: -9px;
  margin-top: -30px;
  padding-bottom: 10px;
}


.dropdown-menu > li > a {
display: block;
padding: 3px 20px;
clear: both;
font-weight: normal;
line-height: 1.428571429;
color: #000;
white-space: nowrap;
}

.dropdown-menu > li > a:hover{
display: block;
padding: 3px 20px;
clear: both;
font-weight: normal;
line-height: 1.428571429;
color: #fff;
background-color:#008dd0;
white-space: nowrap;
}

.navbar-nav>li>.dropdown-menu {
margin-top: 0;
border-top-right-radius: 0;
border-top-left-radius: 0;
background-color: rgba(238,238,238,0.7);
}

.btn-clear{
  display: none;
}

.thumbnail {
display: block;
padding: 0px;
margin-bottom: 20px;
line-height: 1.428571429;
background-color: #fff;
border-radius: 0;
min-height:470px;
}

.thumbnail > img, .thumbnail a > img {
display: block;
max-width: 100%;
height: 198px;
margin-right: auto;
margin-left: auto;
}

.carousel {
  height:85%;
}

.item,
.active,
.carousel-inner {
  height:100%;
}

.fill {
  width:100%;
  height:100%;
  background-position: center;
  background-size: cover;
}

.section {
  margin: auto;
}

footer {
  margin: 50px 0;
}

.moreDetail{
	position:absolute; 
	bottom:0; 
	margin-bottom:30px; 
	right: 0; 
	margin-right: 30%;
}

.btn .btn-default .more{
	position:absolute; 
	bottom:0; 
	margin-bottom:30px; 
	right: 0; 
	margin-right: 30%;
}
.bootstrap-admin-login-form {
max-width: 400px;
padding: 30px;
margin: 0 auto;
background-color: #FFF;
border: 1px solid #E5E5E5;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}


.navbar-inverse2 {
  background-color: rgba(0,0,0,0.7);
  
}

.logo{
  width: 100px;
}

.container2{  
  background-color: #008dd0;
  color: black;    
}

.container-black{  
  background-color: #000;
  color: white;   
  padding-bottom:10px; 
}

.logoSize{
margin-top: 10px;
width: 35px;
height: 35px;
}

h4, .h4{
margin-top: 10px;
margin-bottom: 15px;
display: block;
}

.btn-logo{
color: #000;
background-color: #fff;
border-radius: 0;
font-weight: bold;
margin-top: 0;
cursor: none;
transition: all 0.5s ease 0s;
}

.btn-logo:hover{
color: #008dd0;
font-style: italic;
background-color: #fff;
font-size: 14pt;
border-radius: 0;
font-weight: bold;
margin-top: 0;
}

.btn-default:hover,
.btn-default:focus,
.open .dropdown-toggle.btn-default {
  border-color: #008dd0;
  background-color: #008dd0;
  color: #fff;
}

.img-center{
  vertical-align: middle;

}


.alignCenter{
  vertical-align: middle;
}


.forceRight {
float: right;
margin: 0;
}

.navbar-nav > li > a {
padding-top: 15px;
padding-bottom: 15px;
line-height: 20px;
color: #fff;
text-decoration: none;
transition: all 0.5s ease 0s;
}

.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  width: 100%;
  height: 150%
  overflow: hidden;
}
.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: .6s ease-in-out left;
          transition: .6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  /*height: auto;*/
  line-height: 1;
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  filter: alpha(opacity=50);
  opacity: .5;
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, .5) 0%), color-stop(rgba(0, 0, 0, .0001) 100%));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, .0001) 0%), color-stop(rgba(0, 0, 0, .5) 100%));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control:hover,
.carousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: none;
  opacity: .9;
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  font-family: serif;
}
.carousel-control .icon-prev:before {
  content: '\2039';
}
.carousel-control .icon-next:before {
  content: '\203a';
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #008dd0 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #000;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #008dd0;
}
.carousel-caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  background-color: rgba(0,0,0,0.7);
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.carousel-caption .btn {
  text-shadow: none;
}
@media screen and (min-width: 768px) {
  .carousel-control .glyphicons-chevron-left,
  .carousel-control .glyphicons-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px;
  }
  .carousel-caption {
    width: 35%;
    height: 100%;
    right: 20%;
    left: 0;
    padding-bottom: 30px;    
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: text-bottom;
    padding-top: 20%;
    margin-bottom: 0;    
  }

  .carousel-indicators {
    bottom: 20px;


  }
}

.nav > li > a:hover, .nav > li > a:focus {
text-decoration: none;
color: black;
background-color: #008dd0;
}


.navbar-toggle {
position: relative;
float: right;
padding: 9px 10px;
margin-top: 8px;
margin-right: 30px;
margin-bottom: 8px;
background-color: #008dd0;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
}

.navbar-inverse .navbar-toggle .icon-bar {
background-color: #000;
}


.nav > li > a:focus{
text-decoration: none;
color: #008dd0;
background-color: black;
}


.block3 {
overflow: hidden;
margin-top: -2px;
}

.block3 .fleft {
margin-top: 5px;
margin-right: 20px;
}
.fleft {
float: left;
width: auto !important;
margin-right: 30px;
margin-bottom: 0px;
}

.img_inner {
max-width: 100px;
max-height: 100px;
min-height: 100px;
min-width: 100px;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
margin-bottom: 15px;
margin-top: 3px;
}

.color1 {
color: #535151;
}
.text1 {
font-size: 18px;
margin-bottom: 2px;
line-height: 20px;
}

.extra_wrapper {
overflow: hidden;
}

.block3 .text1 time {
display: block;
}

.imageProgramSize{
  width: 296px;
  height: 198px;

}


.navbar-brand:hover{
  opacity: 0.2;
}

.tdAshnaf{
	padding-right: 20px;
	vertical-align: baseline;	
}


.notBold{
	margin: 0 0 0px;
}

.judulTable{
	background-color: #008dd0;
	color: white;
}
.melayang{
	text-align: center;
	vertical-align: middle;
}

input[type=search] {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding: 5px;
}

.well2 {
min-height: 10px;
padding: 5px;
margin-bottom: 20px;
background-color: #f5f5f5;
border: 1px solid #e3e3e3;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
display: inline-block;

}

.well3 {
min-height: 10px;
padding: 5px;
margin-bottom: 20px;
background-color: #f5f5f5;
border: 1px solid #e3e3e3;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
display: table;

}

.submit2{
	font-size:12px;
	border-radius: 0px;
	background-color:#008dd0;
	transition: all 0.5s ease 0s;
}

.submit3{
	font-size:12px;
	border-radius: 0px;
	background-color:#b22222;
	border-color:#b22222;
	transition: all 0.5s ease 0s;
}

.submit2:hover{
	font-size:12px;
	border-radius: 0px;
	background-color:#000;
}

.submit3:hover{
	font-size:12px;
	border-radius: 0px;
	background-color:#8b0000;
	border-color:#8b0000;
}

.btn-danger{
color: #fff;
background-color: #d43f3a;
border-color: #d43f3a;
border-radius: 0px;
}

.btn-danger:hover{
color: #fff;
background-color: #8b0000;
border-color: #8b0000;
border-radius: 0px;
}

.btn-cancel{
color: #fff;
background-color: #008dd0;
border-color: #008dd0;
border-radius: 0px;
}

.btn-cancel:hover{
color: #fff;
background-color: rgba(0,0,0,0.9);
border-color: rgba(0,0,0,0.9);
border-radius: 0px;
}

div.dataTables_filter label {
float: right;
font-weight: normal;
padding-right: 10px;
}

div.dataTables_length label {
float: left;
text-align: left;
font-weight: normal;
padding-left: 10px;
}

.pagination {
display: inline-block;
padding-left: 0;
margin: 20px 0;
border-radius: 4px;
padding-right: 10px;
}

div.dataTables_info {
padding-top: 8px;
padding-left: 10px;
}

.putih{
color:#008dd0;	
}

.buttondelete{
	display: inline-block;	
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 3px;
	font-size: 14px;
	line-height: 1.428571429;
	border-radius: 50%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	background-color: #b22222;
	transition: all 0.5s ease 0s;
}

.buttondelete:hover{
	background-color: #000000;
	transition: all 0.5s ease 0s;
}

.navbar-search .search-query {
    margin-bottom: 0;
    padding: 4px 14px;
    font-family: Open Sans,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 21px; /**change the Line-height to like this**/
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    }