.container {
	width: 1140px;
}
.metro .tile-group {
color: #000000;
}

.metro .tile.quadro {
width: 100%;
}

.metro .tile.double-vertical {
height: 300px;
}
.panel
{
	width:1200px;
	
}
.judul
{
	color:white;
}
.kontak
{
	width:1200px;
	text-align:center;
}
.input li ul
{
	display : none;
}
.kontak ul
{
	list-style:none;
}
.kontak ul li
{
	display:inline-block;
	margin:0 20px;
}