body
{
	
}
.container
{
	width:100%;
}
.container .login-frame
{
	
	width:400px;
	margin: 0 auto;
	margin-top:200px;
	font-family: 'cambria';
}
.container .login-frame .title
{
	text-align : center;
	width:100%;	
}
.container .login-frame form
{
	width:100%;
	text-align:center;
}
.container .login-frame form input
{
	width:70%;
	height:5px;
	padding : 15px;
	margin : 5px;
	border: 1px #d9d9d9 solid;
}
.container .login-frame form button
{
	border: 1px #16499a solid;
	background-color: #16499a;
	padding : 10px 50px;
	color:white;
}
