<?xml version="1.0" encoding="UTF-8"?>
<project-modules id="moduleCoreId" project-version="1.5.0">
	<wb-module deploy-name="ABS_Sizakat">
		<wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
		<wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/resources"/>
		<property name="context-root" value="ABS_Sizakat"/>
		<property name="java-output-path" value="/ABS_Sizakat/build/classes"/>
	</wb-module>
</project-modules>
